/* Github Markdown */

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Source Serif Pro', 'Noto Serif SC', 'Noto Serif', 'Noto Serif SC', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Noto Sans SC', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
  
}

.markdown-body kbd,
.markdown-body code,
.markdown-body pre {
  font-family: 'Noto Sans Mono','Noto Sans Mono CJK SC',SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

/* Title Block */

h1.title {
    border-bottom: none;
}

h1.title, p.subtitle, p.author, p.date {
    text-align: center;
}

/* Table of Contents */

nav {
    padding: 2em 0;
}

nav li {
    list-style-type: none;
}

nav ul {
    padding-left: 0;
}

nav ul ul {
    margin-bottom: 0;
    padding-left: 2em;
}

/* Footnotes */

a.footnote-ref {
    text-decoration: none;
}

a.footnote-back {
    margin-left: 0.5em;
}