pre {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
}

table {
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    font-size: 1.1rem;
}

th {
    border-bottom: 1px solid #111;
}