@charset "UTF-8";
@page {
  size: A4;
}
@page :left {
  margin: 20mm 40mm 20mm 30mm;
}
@page :right {
  margin: 20mm 30mm 20mm 40mm;
}
html {
  font-size: 12pt;
}

body {
  font-family: "Times New Roman", Simsun, "Noto Serif", "Noto Serif SC", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

b,
strong {
  font-family: Arial, Simhei, "Noto Sans", "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}

small {
  font-size: 10pt;
}

hr {
  background-color: #000;
  border: 0;
  height: 1pt;
  margin: 1em 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Simhei, "Noto Sans", "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  hyphens: none;
  line-height: 1.25;
}

h1 {
  string-set: chapterTitle content();
  font-size: 28pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-indent: 2em;
  orphans: 2;
  widows: 2;
}

li p {
  text-indent: 0;
}
li p:last-child {
  margin-bottom: 0;
}

a {
  color: #000;
  word-wrap: break-word;
}

a[href^="#"] {
  color: #000;
}
a[href^="#"]::after {
  content: " (p. " target-counter(attr(href, url), page) ") ";
}

a[href^="http:"]::after,
a[href^="https:"]::after,
a[href^="ftp:"]::after,
a[href^="mailto:"]::after {
  content: "(" attr(href) ") ";
}

code,
pre {
  font-family: SFMono-Regular, "Noto Sans Mono", "Courier New", Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 10pt;
}

pre {
  margin-bottom: 1em;
  margin-top: 1em;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

code {
  font-weight: 400;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

q::before {
  content: "“";
}
q::after {
  content: "”";
}
q > q::before {
  content: "‘";
}
q > q::after {
  content: "’";
}

ol,
ul {
  margin: 1em 0 1em 0;
  padding-left: 2em;
}
ol ul,
ol ol,
ul ul,
ul ol {
  margin-bottom: 0;
  margin-top: 0;
}
ol ul li:last-child,
ol ol li:last-child,
ul ul li:last-child,
ul ol li:last-child {
  margin-bottom: 1em;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ol ol ol,
ul ol ol {
  list-style-type: lower-alpha;
}

dl {
  padding: 0;
}

dt {
  font-size: 1em;
  margin-top: 1em;
  padding: 0;
}

dd {
  margin: 0 0 1em 0;
  padding: 0 2em;
}

table {
  border-collapse: collapse;
  counter-increment: table;
  margin: 1em 0;
  max-width: 100%;
}

thead {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

tbody {
  border-bottom: 1px solid #000;
}

tr.header {
  font-family: Arial, Simhei, "Noto Sans", "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}
tr.odd {
  background-color: transparent;
}
tr.even {
  background-color: transparent;
}

th,
td {
  border: 0;
  padding: 0.25em;
  text-align: left;
}

caption {
  caption-side: top;
  font-weight: normal;
  margin: 0 0 4pt;
}

figure {
  margin: 1em 0;
  text-align: center;
}

figcaption {
  font-weight: normal;
}

img {
  max-width: 100% !important;
  height: auto;
  border: 0;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray-100 {
  color: #f8f9fa;
}

.text-gray-200 {
  color: #e9ecef;
}

.text-gray-300 {
  color: #dee2e6;
}

.text-gray-400 {
  color: #ced4da;
}

.text-gray-500 {
  color: #adb5bd;
}

.text-gray-600 {
  color: #6c757d;
}

.text-gray-700 {
  color: #495057;
}

.text-gray-800 {
  color: #343a40;
}

.text-gray-900 {
  color: #212529;
}

.text-primary,
.text-blue {
  color: #007bff;
}

.text-secondary,
.text-gray-600 {
  color: #6c757d;
}

.text-success,
.text-green {
  color: #28a745;
}

.text-info,
.text-cyan {
  color: #17a2b8;
}

.text-warning,
.text-yellow {
  color: #ffc107;
}

.text-danger,
.text-red {
  color: #dc3545;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-gray-100 {
  background-color: #f8f9fa;
}

.bg-gray-200 {
  background-color: #e9ecef;
}

.bg-gray-300 {
  background-color: #dee2e6;
}

.bg-gray-400 {
  background-color: #ced4da;
}

.bg-gray-500 {
  background-color: #adb5bd;
}

.bg-gray-600 {
  background-color: #6c757d;
}

.bg-gray-700 {
  background-color: #495057;
}

.bg-gray-800 {
  background-color: #343a40;
}

.bg-gray-900 {
  background-color: #212529;
}

.bg-primary,
.bg-blue {
  background-color: #007bff;
}

.bg-secondary,
.bg-gray-600 {
  background-color: #6c757d;
}

.bg-success,
.bg-green {
  background-color: #28a745;
}

.bg-info,
.bg-cyan {
  background-color: #17a2b8;
}

.bg-warning,
.bg-yellow {
  background-color: #ffc107;
}

.bg-danger,
.bg-red {
  background-color: #dc3545;
}

.col-1 {
  column-count: 1;
}

.col-2 {
  column-count: 2;
}

.col-3 {
  column-count: 3;
}

.col-4 {
  column-count: 4;
}

p span.fa {
  text-indent: 0;
}

@page {
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}
@page :left {
  @bottom-left {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: counter(page);
    font-family: "Times New Roman", Simsun, "Noto Serif", "Noto Serif SC", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10pt;
  }
  @bottom-right {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: string(chapterTitle);
    font-family: "Times New Roman", Simsun, "Noto Serif", "Noto Serif SC", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10pt;
  }
}
@page :right {
  @bottom-left {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: string(chapterTitle);
    font-family: "Times New Roman", Simsun, "Noto Serif", "Noto Serif SC", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10pt;
  }
  @bottom-right {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: counter(page);
    font-family: "Times New Roman", Simsun, "Noto Serif", "Noto Serif SC", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10pt;
  }
}
@page :first {
  @bottom-left {
    content: normal;
    margin: 0;
  }
  @bottom-right {
    content: normal;
    margin: 0;
  }
}
@page :blank {
  @bottom-left {
    content: normal;
    margin: 0;
  }
  @bottom-right {
    content: normal;
    margin: 0;
  }
}
a.footnote-ref,
a[id^=fnref] {
  text-decoration: none;
  font-size: 10pt;
  line-height: none;
}
a.footnote-ref sup::before,
a[id^=fnref] sup::before {
  content: "[";
}
a.footnote-ref sup::after,
a[id^=fnref] sup::after {
  content: "]";
}
a.footnote-ref::after,
a[id^=fnref]::after {
  content: "";
}

.footnotes li[role=doc-endnote] {
  list-style-type: none;
  display: block;
  counter-increment: reference;
}
.footnotes li[role=doc-endnote]::before {
  content: "[" counter(reference) "]";
  position: absolute;
  display: inline-block;
  margin-left: -2em;
}

a.footnote-back {
  margin-left: 0.5em;
  text-decoration: none;
}
a.footnote-back::after {
  content: "";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1 {
  break-before: always;
  page-break-before: right;
}

h1 + p,
h2 + p,
h3 + p {
  break-before: avoid;
  page-break-before: avoid;
}

table,
figure {
  break-inside: avoid;
  page-break-inside: avoid;
}

h1.title,
p.subtitle,
p.author,
p.date {
  text-align: center;
}

header {
  display: table-cell;
  position: relative;
  width: 150mm;
  height: 257mm;
  vertical-align: middle;
  padding: 0;
}

h1.title {
  string-set: docTitle content();
}

nav#TOC ul {
  margin: 0;
  padding: 0;
}
nav#TOC ul ul {
  padding-left: 2em;
}
nav#TOC ul li {
  list-style-type: none;
  line-height: 2;
}
nav#TOC ul li a {
  text-decoration: none;
}
nav#TOC ul li a::after {
  content: leader(".") target-counter(attr(href), page);
}

/*# sourceMappingURL=pdf-book.css.map */
