@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    --color-canvas-default: #0d1117;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light;
    --color-canvas-default: #ffffff;
  }
}

html {
  background-color: transparent;
}

body {
  background-color: var(--color-canvas-default);
  max-width: $if(maxwidth)$$maxwidth$$else$48em$endif$;
  padding-left: $if(margin-left)$$margin-left$$else$2em$endif$;
  padding-right: $if(margin-right)$$margin-right$$else$2em$endif$;
  padding-top: $if(margin-top)$$margin-top$$else$2em$endif$;
  padding-bottom: $if(margin-bottom)$$margin-bottom$$else$2em$endif$;
  margin: 0 auto;
}

.markdown-body {
  box-sizing: border-box;
}

h1.title {
  border: 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 1em;
  }
}