header#title-block-header {
  margin: 2em 0;
}

h1.title {
  text-align: center;
}

.subtitle,
.author,
.date {
  text-align: center;
  font-weight: normal;
  font-size: 1.25em;
  text-indent: 0;
}

.toc {
  padding-left: 0;
}
.toc .toc {
  margin-left: 2em;
}
.toc li {
  padding-left: 0;
  list-style-type: none;
}

nav[id~=TOC] {
  padding: 2em 0;
}
nav[id~=TOC] ul {
  padding-left: 0;
}
nav[id~=TOC] ul ul {
  margin-bottom: 0;
  padding-left: 2em;
}
nav[id~=TOC] li {
  list-style-type: none;
}

.footnotes {
  padding-bottom: 1em;
}

a.footnote-ref {
  text-decoration: none;
}

a.footnote-back {
  margin-left: 1em;
}

.header-section-number {
  margin-right: 0;
}

.abstract {
  text-align: left;
  font-size: 85%;
}

.abstract-title {
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-bottom: 0.5em;
}

ul.task-list {
  list-style: none;
}
ul.task-list li input[type=checkbox] {
  font-size: inherit;
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}

span.smallcaps {
  font-variant: small-caps;
}

div.columns {
  display: flex;
  gap: min(4vw, 1.5em);
}

div.column {
  flex: auto;
  overflow-x: auto;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

tr.header {
  font-weight: bold;
}

tr.odd {
  background-color: transparent;
}

tr.even {
  background-color: transparent;
}
