body {
  font-family: $font-family-base;
  text-align: $text-align-base;
  line-height: $line-height-base;
  color: #000;
  background: #fff;
}

b,
strong {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

small {
  font-size: $font-size-small;
}

hr {
  background-color: #000;
  border: 0;
  height: 1pt;
  margin: 1em 0;
  padding: 0;
}
