// 颜色主题
// 使用 Bootstrap 的默认颜色

// 前景色
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
.text-gray-800 {
  color: $gray-800;
}
.text-gray-900 {
  color: $gray-900;
}

.text-primary,
.text-blue {
  color: $blue;
}
.text-secondary,
.text-gray-600 {
  color: $gray-600;
}
.text-success,
.text-green {
  color: $green;
}
.text-info,
.text-cyan {
  color: $cyan;
}
.text-warning,
.text-yellow {
  color: $yellow;
}
.text-danger,
.text-red {
  color: $red;
}

// 背景色
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-gray-100 {
  background-color: $gray-100;
}
.bg-gray-200 {
  background-color: $gray-200;
}
.bg-gray-300 {
  background-color: $gray-300;
}
.bg-gray-400 {
  background-color: $gray-400;
}
.bg-gray-500 {
  background-color: $gray-500;
}
.bg-gray-600 {
  background-color: $gray-600;
}
.bg-gray-700 {
  background-color: $gray-700;
}
.bg-gray-800 {
  background-color: $gray-800;
}
.bg-gray-900 {
  background-color: $gray-900;
}

.bg-primary,
.bg-blue {
  background-color: $blue;
}
.bg-secondary,
.bg-gray-600 {
  background-color: $gray-600;
}
.bg-success,
.bg-green {
  background-color: $green;
}
.bg-info,
.bg-cyan {
  background-color: $cyan;
}
.bg-warning,
.bg-yellow {
  background-color: $yellow;
}
.bg-danger,
.bg-red {
  background-color: $red;
}
