// 脚注

a.footnote-ref,
a[id^="fnref"] {
  text-decoration: none;
  font-size: $font-size-small;
  line-height: none;
  sup::before {
    content: "[";
  }
  sup::after {
    content: "]";
  }
  &::after {
    content: "";
  }
}

.footnotes {
  li[role="doc-endnote"] {
    list-style-type: none;
    display: block;
    counter-increment: reference;
    // margin-left: 2em;
    &::before {
      content: "[" counter(reference) "]";
      position: absolute;
      display: inline-block;
      margin-left: -2em;
    }
  }
}

a.footnote-back {
  margin-left: 0.5em;
  text-decoration: none;
  &::after {
    content: "";
  }
}
