// 页脚

@page :left {
  // 左下角显示当前页码
  @bottom-left {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: counter(page);
    font-family: $font-family-base;
    font-size: $font-size-small;
  }

  // 右下角显示章节标题
  @bottom-right {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: string(chapterTitle);
    font-family: $font-family-base;
    font-size: $font-size-small;
  }
}

@page :right {
  // 左下角显示章节标题
  @bottom-left {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: string(chapterTitle);
    font-family: $font-family-base;
    font-size: $font-size-small;
  }

  // 右下角显示当前页码
  @bottom-right {
    margin: 4mm 0 10mm 0;
    border-top: 0.25pt solid #666;
    content: counter(page);
    font-family: $font-family-base;
    font-size: $font-size-small;
  }
}

// 第一页是标题页，不显示页脚
@page :first {
  @bottom-left {
    content: normal;
    margin: 0;
  }

  @bottom-right {
    content: normal;
    margin: 0;
  }
}

// 空白页不显示页脚
@page :blank {
  @bottom-left {
    content: normal;
    margin: 0;
  }

  @bottom-right {
    content: normal;
    margin: 0;
  }
}
