// 目录

nav#TOC {
  column-count: 2;
  column-gap: 12pt;
  ul {
    margin: 0;
    padding: 0;
    ul {
      padding-left: 2em;
    }
    li {
      list-style-type: none;
      line-height: 2;
      a {
        text-decoration: none;
        &::after {
          content: leader(".") target-counter(attr(href), page);
        }
      }
    }
  }
}
